.raiz {
    display: flex;
    z-index: 0;
    width: 100%;
}
nav {
    display: flex;
    background-color: rgb(39, 40, 41);
    overflow: hidden;
    width: 100%;
    display: inline-block;
    grid-area: menu;
    padding-top: 20px;
    /*width: 350px;*/
    z-index: 0;

}
nav a {
    text-decoration: none;
    color: white;
}

nav a {
    display: inline-block;
    height: 15px;
    padding: 10px 10px;
    width: 100%;
}
nav .btn.active {
    background-color: rgb(95, 95, 95);
}
nav a:hover {
    background-color: rgb(95, 95, 95);
}